<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style.css') }}"
    />
  </head>

  <!-- Navigation Section -->
  <body>
    <header>
      <nav>
        <a href="{{ url_for('show_index') }}">insta485</a>
        <div class="navbar-right">
          <a href="/explore/">Explore</a>
          <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>
      </nav>
    </header>

    <div id="reactEntry">
      Loading ...
    </div>
    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
