<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/password_style.css') }}" />
  </head>

  <!-- Navigation Section -->
  <body>
      <header>
        <nav>
          <a href="{{ url_for('show_index') }}">insta485</a>
          <div class="navbar-right">
            <a href="/explore/">Explore</a>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
          </div>
        </nav>
      </header>

    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
      <input type="password" name="password" placeholder="Old password" required/>
      <input type="password" id="new_password1" name="new_password1" placeholder="New password" required/>
      <input type="password" id="new_password2" name="new_password2" placeholder="New password, again" required/>
      <input type="submit" name="update_password" value="submit"/>
      <input type="hidden" name="operation" value="update_password"/>
    </form>
    <a href="/accounts/edit/" class="back_edit">Back to edit account</a>
  </body>
</html>